// Table for displaying stock records
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Backend with Dear Irene
  link(href='/css/stocktable.css' rel='stylesheet')

.container.mt-5
  h3.mb-3 Stock Records
  table.table.table-bordered.table-striped
    thead.table-dark
      tr
        th Product Name
        th Product Type
        th Cost Price
        th Selling Price
        th Quantity
        th Supplier Name
        th Quality
        th Color
        th Measurements
        th Update
        th Delete
    tbody
      if items && items.length
        each item in items
          tr
            td #{item.productName}
            td #{item.productType}
            td #{item.costPrice}
            td #{item.sellPrice}
            td #{item.quantity}
            td #{item.supplierName}
            td #{item.quality}
            td #{item.color}
            td #{item.measurements}
            td
              a.btn.btn-warning(href=`/editstock/${item._id}`) Edit
            td
              form(method='post', action='/deletestock')
                input(type='hidden', name='id', value=item._id)
                button.btn.btn-danger.btn-block(type='submit') Delete
      else
        tr
          td(colspan="11").text-center No stock available

  // Add Stock button (placed below table)
  a.btn.btn-warning.mt-3(href='/stock') Add Stock
